# Configurações da API
PROJECT_NAME="Farmácia Scraper API"
API_V1_STR="/api/v1"
DEBUG=True

# Configurações de Banco de Dados (SQLite com modo WAL habilitado em código posteriormente)
DATABASE_URL="sqlite:///./farmacias.db"

# Segurança e CORS (Exemplo: permitir localhost do Expo)
BACKEND_CORS_ORIGINS=["http://localhost:8081"]