# backend/.env
PROJECT_NAME="Farmácia Scraper API"
API_V1_STR="/api/v1"
DEBUG=True

# O formato é: postgresql+driver://usuario:senha@host:porta/nome_do_banco
DATABASE_URL="postgresql+psycopg2://aurora_admin:super_senha_segura@localhost:5432/farmacia_db"

# Segurança e CORS (Exemplo: permitir localhost do Expo)
BACKEND_CORS_ORIGINS=["http://localhost:8081"]